@mixin desktop-large {
  @media screen and (min-width: $xxl-min) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $xl-min) {
    @content;
  }
}

@mixin tablet-large {
  @media screen and (min-width: $lg-min) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $md-min) {
    @content;
  }
}

@mixin tablet-small {
  @media screen and (min-width: $sm-min) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $sm-max) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin midflex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin midflexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin hidden() {
  opacity: 0;
  visibility: hidden;
}

@mixin visible() {
  opacity: 1;
  visibility: visible;
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #000000;
  }
  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
  }
}
